.page {
    width: 100vw;
    height: 100vh;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #101010;
    color: #ffffff;
    overflow: auto;

    h1 {
        font-size: 32px;
    }
}

.calendar {
    max-width: 100%;
}

.week {
    width: 100%;
    border: 1px solid white;
    display: flex;

    &:not(:first-child) {
        border-top: none;
    }

    .day {
        width: 14.2857%;
        text-align: center;
        padding: 4px;

        &:not(:first-child) {
            border-left: 1px solid white;
        }
    }
}

.weekSmall {
    width: 100%;
    border: 1px solid white;
    text-align: center;
    border-top: none;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);

    .dialog {
        max-width: 100%;
        max-height: 100%;
        background: white;
        border-radius: 4px;
    }
}